
@model AplicacionWebMobileMetriks.Models.ViewModels.EmisorVistaModelo
@*Llamo a mis metodos extension*@
@using AplicacionWebMobileMetriks.MetodosExtendibles
@{
    ViewData["Title"] = "Crear";
}

<br />
<h2 class="text-info">Crear Emisor</h2>
<br />

@*Usaremos un form para que aplique el metodo post y guarde los datos, utilizo enctype para que guarde la imagen*@
<form enctype="multipart/form-data" method="post">
    <div class="border fondoBlanco">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="@Model.Emisor.EmpresaId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="Emisor.EmpresaId" id="EmpresaId" asp-items="Model.ListaEmpresa.ListItemParaSeleccionar(Model.Emisor.EmpresaId)" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Emisor.Imagen" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Emisor.Curp" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Emisor.Curp" class="form-control" />
            </div>
            <span asp-validation-for="Emisor.Curp" class="text-danger"></span>
        </div>
        @*Area de los botones de crear*@
        <partial name="_BotonesFormularioPartial" />
    </div>
</form>

