
@model AplicacionWebMobileMetriks.Models.ViewModels.EmisorVistaModelo
@*Llamo a mis metodos extension*@
@using AplicacionWebMobileMetriks.MetodosExtendibles
@{
    ViewData["Title"] = "Crear";
}

<br />
<h2 class="text-info">Crear Emisor</h2>
<br />

@*Usaremos un form para que aplique el metodo post y guarde los datos, utilizo enctype para que guarde la imagen*@
<form enctype="multipart/form-data" method="post">
    <div class="border fondoBlanco">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*Parte de la relacion y crea lista desplegable de empresas
            <div class="form-group row">
            <div class="col-2">
                <label asp-for="@Model.Emisor.EmpresaId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="Emisor.EmpresaId" id="EmpresaId" asp-items="Model.ListaEmpresa.ListItemParaSeleccionar(Model.Emisor.EmpresaId)" class="form-control"></select>
            </div>
        </div>*@
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Emisor.RFC" class="col-form-label"></label>
        </div>
        <div class="col-5">
            <input asp-for="Emisor.RFC" class="form-control" />
        </div>
        <span asp-validation-for="Emisor.RFC" class="text-danger"></span>

    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Emisor.Nombre" class="col-form-label"></label>
        </div>
        <div class="col-5">
            <input asp-for="Emisor.Nombre" class="form-control" />
        </div>
        <span asp-validation-for="Emisor.Nombre" class="text-danger"></span>

    </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Emisor.Imagen" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Emisor.Curp" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Emisor.Curp" class="form-control" />
            </div>
            <span asp-validation-for="Emisor.Curp" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Emisor.Calle" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Emisor.Calle" class="form-control" />
            </div>
            <span asp-validation-for="Emisor.Calle" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Emisor.NumExterior" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Emisor.NumExterior" class="form-control" />
            </div>
            <span asp-validation-for="Emisor.NumExterior"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Emisor.NumInterior" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Emisor.NumInterior" class="form-control" />
            </div>
            <span asp-validation-for="Emisor.NumInterior" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Emisor.Colonia" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Emisor.Colonia" class="form-control" />
            </div>
            <span asp-validation-for="Emisor.Colonia" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Emisor.Localidad" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Emisor.Localidad" class="form-control" />
            </div>
            <span asp-validation-for="Emisor.Localidad" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Emisor.Referencia" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Emisor.Referencia" class="form-control" />
            </div>
            <span asp-validation-for="Emisor.Referencia" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Emisor.Municipio" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Emisor.Municipio" class="form-control" />
            </div>
            <span asp-validation-for="Emisor.Municipio" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Emisor.Estado" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Emisor.Estado" class="form-control" />
            </div>
            <span asp-validation-for="Emisor.Estado" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Emisor.Pais" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Emisor.Pais" class="form-control" />
            </div>
            <span asp-validation-for="Emisor.Pais" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Emisor.CodigoPostal" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Emisor.CodigoPostal" class="form-control" />
            </div>
            <span asp-validation-for="Emisor.CodigoPostal" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Emisor.Correo" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Emisor.Correo" class="form-control" />
            </div>
            <span asp-validation-for="Emisor.Correo" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Emisor.Telefono" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Emisor.Telefono" class="form-control" />
            </div>
            <span asp-validation-for="Emisor.Telefono" class="text-danger"></span>
        </div>
        @*Area de los botones de crear*@
        <partial name="_BotonesFormularioPartial" />
    </div>
</form>

