@model Guid

    <div class="row">
        <div class="col-6">
            <input type="submit" asp-route-id="@Model" value="Editar" class="btn btn-success form-control" />
        </div>
        <div class="col-6">
            <a asp-action="Index" class="btn btn-success form-control">Regresar a la lista</a>
        </div>
    </div>
