@model Guid
    <div class="col-5 offset-2 row">
        <div class="col-6">
            <a asp-action="Editar" asp-route-id="@Model" class="btn btn-primary">Editar empresa</a>
        </div>
        <div class="col-6">
            <a asp-action="Index" class="btn btn-success">Regresar a la lista</a>
        </div>
    </div>